@charset "UTF-8";
/* CSS Document */

body {
    background-image: url("images/barn.jpg");
}

/*-------------------------------------------------

	BASIC STRUCTURE

-------------------------------------------------*/

#wrapper {
	width: 960px;
	padding: 5px;
	margin:20px auto;
}

#leftColumn	 {
	float: left;
	width: 300px;
}

#rightColumn {
	float: right;
	width: 600px;