@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
/* texts */
body {
    background-image: url("images/barn.jpg");
	background-size: cover;
	font-family:'Gloria Hallelujah', cursive;
}

/*<div id="footer"><p><a href="mailto:neiko.lopez@warriorlife.net">&copy; Neiko Lopez, Emma Balog, and Alicia Shi. 2018</a></p></div>


/*-------------------------------------------------

	BASIC STRUCTURE

-------------------------------------------------*/

#leftColumn img {
	width: 100%;
}

#wrapper {
	width: 960px;
	padding: 5px;
	margin:20px auto;
}

#leftColumn	 {
	background-image: url("images/eggs.png");
	background-size: 100%;
	background-repeat:no-repeat;
	height: 650px;
	float: left;
	border-radius: 15px;
}
#rightColumn {
	background-color: white;
	float: right;
	width: 400px;
	height: 850px;
	border-radius: 15px;
}

#footer {
	background-color: white;
	height: 50px;
	border-radius: 15px;
	clear: both;
	float: left;
	width: 390px;
}

#footer p {
	text-align:right;
}



/* responsive widths*/

@media screen and (max-width: 980px) {
	#wrapper {
		width: 94%;
	}
	#rightColumn {
		width: 65%;
	}
	#leftColumn {
		width: 30%;
	}
}

@media screen and (max-width: 700px) {
	#leftColumn, #rightColumn {
		width: 50%;
		float: none;
	}
}

@media screen and (max-width: 480px) {
	#wrapper {
		height: auto;
	}
	#title {
		font-size: 24px;
	}
	#leftColumn, rightColumn {
		float: none;
	}
}
